.error{
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 500;
  color: var(--sp-red);
  /* text-shadow: 0 0 0.25rem rgb(220, 59, 59); */
  padding: 0.2rem;
  border-radius: 0.7rem;
  align-items: center;
}