.chat-page {
  height: 100vh;
}

.chat {
  display: flex;
  /* gap: 0.5rem; */
  padding: 1rem 0;
  height: calc(100vh - 4.5rem);
  overflow: hidden;
}

.sidebar {
  flex: 0 1 16rem;
  overflow-y: auto;
  padding-right: 0.5rem;
  border-radius: 0.375rem;
}


.messages {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  gap: 1rem;
  flex: 1;
}