.aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--sp-blue-700);
  padding: 0.5rem;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}

/* .li {
} */
