/* @import "tailwindcss"; */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: var(--sp-blue-900);
  color: rgb(255, 255, 255);

  --sp-blue-900: #18191c;
  --sp-blue-700: #20242d;
  --sp-blue-500: #363f54;
  --sp-blue-400: #64748b;
  --sp-blue-300: #93a0b9;
  --sp-blue: #1a5cff;
  --sp-blue-rgb: 26, 92, 255;
  --sp-red: rgb(220, 59, 59);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--sp-blue-500) rgba(255, 255, 255, 0);
  -ms-overflow-style: scrollbar;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  border-radius: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  background: var(--sp-blue-500);
  border-radius: 0.5rem;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--sp-blue-300);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
}

button {
  display: inline-block;
  padding: 0;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  max-width: 160rem;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }
}